.projects {
	max-width: 1280px;
	width: calc(100% - 100px * 2);
	margin: 0 auto;
	padding: 100px 0;
	display: flex;
	flex-direction: column;
	gap: 60px;
}

.projects__table-item {
	width: 100%;
}

.projects__title {
	font-weight: 700;
	font-style: normal;
	font-family: "Unbounded", sans-serif;
	color: #000000;
	font-size: 48px;
	letter-spacing: 0em;
	line-height: 1.2;

	margin: 0;
	padding: 0;
}

.projects__btn {
	width: 100%;
	all: unset;
	cursor: pointer;
	align-self: center;
	justify-self: center;
	transition: opacity 0.5s ease-in-out;
}

.projects__btn:hover {
	opacity: 0.6;
	transition: opacity 0.5s ease-in-out;
}

.projects__image {
	width: 100%;
	height: auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 40px;
}

.projects__table {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, calc((100% / 3 - 20px * 2)));
	grid-template-rows: repeat(3, max-content);
	gap: 20px;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 1123px) {
	.projects {
		width: calc(100% - 50px * 2);
		padding: 50px 0;
	}
}

@media screen and (max-width: 767px) {
	.projects {
		width: calc(100% - 20px * 2);
		padding: 40px 0;
	}

	.projects__table {
		width: 80%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
	}

	.projects__title {
		font-size: 32px;
	}

	.projects__btn {
		width: 100%;
	}
}
