.promo {
	width: 100%;
	height: 90vh;
	background-color: white;
	padding: 0;
	margin: 0 auto;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.promo__title {
	margin: 0;
	padding: 0;
	font-family: "Unbounded", sans-serif;
	font-weight: 700;
	font-style: bold;
	max-width: 1280px;
	width: 100%;
	color: #004358;
	font-size: 143px;
	text-transform: uppercase;
	line-height: 1.1;
	text-align: center;
}

.promo__subtitle {
	font-family: "Unbounded", sans-serif;
	font-style: bold;

	color: #004358;
	font-size: 74px;
	text-transform: uppercase;
	line-height: 1.1;
	text-align: center;

	margin: 0;
	padding: 0;
}

.promo__container {
	display: flex;
	flex-direction: column;
	gap: 24px;
	justify-content: center;
	align-items: center;
	padding-top: 40px;
	/* padding-bottom: 221px; */
}

.promo__background {
	content: "";
	background-image: url("../../images/logo_color.svg");
	background-size: 435px 130px;
	width: 435px;
	height: 130px;
	object-position: center;
	object-fit: cover;
	margin: 0 auto;
}

@media screen and (max-width: 1123px) {
	.promo__title {
		font-size: 100px;
	}
}

@media screen and (max-width: 767px) {
	.promo__title {
		font-size: 74px;
		width: 100%;
		max-width: 100%;
	}

	.promo__background {
		max-width: 80%;
		background-repeat: no-repeat;
		justify-self: center;
		align-self: center;
	}
}

@media screen and (max-width: 680px) {
	.promo__title {
		font-size: 46px;
		justify-self: center;
	}

	.promo__subtitle {
		font-size: 40px;
	}

	.promo__background {
		background-size: 200px auto;
		background-position: center;
	}
}
